<%= simple_form_for(@holding) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% # f.select :user_id, User.all.collect { |p| [ p.name, p.id ] } %>
    <%= f.select :stock_id, Stock.all.collect { |p| [ p.symbol, p.id ] } %>
		<%#= f.select :portfolio_id, Portfolio.all.collect { |p| [ p.name, p.id ] } %>
		<%= f.association :portfolio, label_method: :name, value_method: :id, include_blank: false %>
    <%= f.input :amount %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
