<%= simple_form_for [@portfolio, @holding], wrapper: :inline_form,
  html: { class: 'form-inline' }, remote: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.association :stock, :url => autocomplete_stock_name_portfolio_holdings_path, :as => :autocomplete, :update_elements => {:id => "#stock_id"}, placeholder: 'Ticker' %>
		<%= f.hidden_field :stock_id, :id => "stock_id" %>
    <%= f.input :amount, placeholder: 'Amount' %>
  </div>
	<p> </p>
  <div class="form-actions">
		<%= f.button :button, "Save".html_safe, "data-loading-text": 'Loading', id: 'myButton' %>
		<button id="new-cancel-btn" class="btn btn-default cancel-btn">Cancel</button>
  </div>
<% end %>
