<%= simple_form_for :holding, :url => portfolio_update_all_path(@portfolio), :html => { :method => :put } do |f| %>
<%= f.error_notification %>

<h2>Editing Holdings:</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Stock</th>
      <th>Amount of Shares</th>
    </tr>
  </thead>
<tbody>

<% @holding.each do |holding| %>
<%= fields_for "holding[]", holding do |holding_fields| %>
		<tr>
			<td><%= holding.stock.symbol %></td>
			<%#= holding_fields.input :amount, label: false, :input_html => {:maxlength =>2,:style=> 'width: 120px'} %>
		<td><%= holding_fields.text_field :amount %></td>
		</tr>
	<% end %>
<% end %>
  </tbody>
</table>
  <div class="form-actions">
    <%= f.button :submit %>
		<%#= submit_tag %>
		<%= link_to 'Cancel', portfolio_path(@portfolio), class: 'btn btn-default' %>
  </div>

<% end %>
<br>
<%= link_to 'Back to Holdings', portfolio_holdings_path(@portfolio) %> | 
<%= link_to 'Back to Portfolio', portfolio_path(@portfolio) %>
<br><br>