<p id="notice"><%= notice %></p>

<h2>Holdings</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Stock</th>
			<th>Portfolio</th>
      <th>Amount of Shares</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @holdings.each do |holding| %>
			<%= render "holding", :holding => holding %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Holding', new_portfolio_holding_path(@portfolio) %> | 
<%= link_to 'Back to Portfolio', portfolio_path(@portfolio) %> |
<%= link_to 'Add/Edit', portfolio_edit_all_path(@portfolio) %>

<br><br>