<p id="notice"><%= notice %></p>

<h1>Listing Holdings</h1>

<!-- ><p>
  <strong>User:</strong>
  <%#= @holdings.user.name %>
</p> -->

<p>
  <strong>Stock:</strong>
  <%= @holding.stock.symbol %>
</p>

<p>
  <strong>Amount of Shares:</strong>
  <%= @holding.amount %>
</p>

<%= link_to 'Edit', edit_holding_path(@holding) %> |
<%= link_to 'Back to Holdings', portfolio_holdings_path(@portfolio) %>

