<%= simple_form_for(@portfolio) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%#= f.input :user_id %>
		
  </div>
	
	<%= f.simple_fields_for :holdings do |holdings_form| %>
		
	<%= holdings_form.association :stock, label_method: :symbol, value_method: :id, include_blank: false %>
	<%= holdings_form.input :amount, :input_html => { min: 0 } %>
	
	<% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
