<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @portfolio.user.name %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @portfolio.stock.symbol %>
</p>

<p>
  <strong>Name:</strong>
  <%= @portfolio.name %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
