<p id="notice"><%= notice %></p>

<h1>Portfolio</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
			<th>Stocks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
		<% @holdings.each do |holdings| %>
    
      <tr>
        <td><%= holdings.portfolio.user.name %></td>
        <td><%= holdings.portfolio.name %></td>
				<td><%= holdings.stock.symbol %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
